@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

.input {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

h1 {
    font-size: 5rem;
    padding-top: 30px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

#contain {
    display: flex;
    justify-content: center;
}

.result,
#loader {
    display: none;
}

.table {
    position: absolute;
    left: 0;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-weight: bold;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;
}

.loader:before {
    content: "Loading please wait..."
}

@keyframes l4 {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}

#loader {
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 80vh;
}

#nothingToShowLinkdin,
#nothingToShowJobank {
    font-size: 2rem;
    color: red;
    display: none;
}

footer a {
    color: black;
}

/* stylring the go to top button*/
a.top {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    visibility: hidden;
}


@media screen and (max-width: 1210px) {

    h1 {
        font-size: 3.5rem;
        padding-top: 57px;
    }
}